In [13]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Customers/customers.csv"

df_customers = pd.read_csv(path)

In [14]:
df_customers.isnull().sum()

customer_id        0
first_name         0
last_name          0
phone           1267
email              0
street             0
city               0
state              0
zip_code           0
Extract_time       0
Source             0
dtype: int64

In [15]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   1445 non-null   int64
 1   first_name    1445 non-null   object
 2   last_name     1445 non-null   object
 3   phone         178 non-null    object
 4   email         1445 non-null   object
 5   street        1445 non-null   object
 6   city          1445 non-null   object
 7   state         1445 non-null   object
 8   zip_code      1445 non-null   int64
 9   Extract_time  1445 non-null   object
 10  Source        1445 non-null   object
dtypes: int64(2), object(9)
memory usage: 124.3+ KB

In [16]:

df_customers_phones = "unknown"

df_customers['phone'].fillna(df_customers_phones, inplace=True)

In [17]:
df_customers.shape

(1445, 11)

In [18]:
df_customers_final = df_customers.drop_duplicates()

In [19]:
df_customers_final

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extract_time,Source
0,1,Debra,Burks,unknown,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-02 11:57:31.330392,Datalake
1,2,Kasha,Todd,unknown,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-02 11:57:31.330392,Datalake
2,3,Tameka,Fisher,unknown,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-02 11:57:31.330392,Datalake
3,4,Daryl,Spence,unknown,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-02 11:57:31.330392,Datalake
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-02 11:57:31.330392,Datalake
...,...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,unknown,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-05-02 11:57:31.330392,Datalake
1441,1442,Cassie,Cline,unknown,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-05-02 11:57:31.330392,Datalake
1442,1443,Lezlie,Lamb,unknown,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-05-02 11:57:31.330392,Datalake
1443,1444,Ivette,Estes,unknown,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-05-02 11:57:31.330392,Datalake
1444,1445,Ester,Acevedo,unknown,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-05-02 11:57:31.330392,Datalake

In [21]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Customers/customers.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_customers_final.to_csv(csv_path, index=False)